name: Prettier

on: [push, pull_request]

env:
  CI: true

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v4
      - uses: actions/checkout@v4
      - run: npx prettier . --check
